<!DOCTYPE html>
<html>
  <head>
    <title>CompetitionManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-wrapper">
      <nav class='main-nav'>
        <div>
          <%= link_to image_tag('pong_carl.png', class: 'image-container'), root_path %>
        </div>
        <div>
          Stuff
        </div>
      </nav>
      <main class='main-container'>
        <%= yield %>
      </main>
      <footer class='main-footer'>
      </footer>
    </div>
  </body>
</html>
